In [4]:
import wbgapi as wb
import pandas as pd
WBData = wb.data.DataFrame(['EN.ATM.CO2E.KT', 'NY.GDP.MKTP.PP.KD' ,  'SP.POP.TOTL', 'EG.FEC.RNEW.ZS', 'SP.URB.TOTL.IN.ZS', 'NV.MNF.TECH.ZS.UN', 'NE.TRD.GNFS.ZS'], [ "ARG","ARM","AUS","AUT","BLR","BEL","BRA","BGR","CAN","CHL","CHN","COL","HRV","CZE","DNK","EST","FIN","FRA","GEO","DEU","GRC","HUN","ISL","IND","IRL","ISR","ITA","JPN","KAZ","KOR","LVA","LTU","MYS","MEX","MDA","NLD","NZL","NOR","PAN","PER","POL","PRT","ROU","RUS","SRB","SGP","SVK","SVN","ZAF","ESP","SWE","CHE","TUR","UKR","GBR","USA"
 ], range(1994,2022),   columns='series')

                EG.FEC.RNEW.ZS  EN.ATM.CO2E.KT  NE.TRD.GNFS.ZS  \
economy time
ARG     YR1994       10.734909        111910.0       18.134346
        YR1995       11.205185        112890.0       19.771423
        YR1996       10.193856        122550.0       21.506468
        YR1997       10.999073        126120.0       23.336179
        YR1998       11.343009        132670.0       23.350028

                NV.MNF.TECH.ZS.UN  NY.GDP.MKTP.PP.KD  SP.POP.TOTL  \
economy time
ARG     YR1994          29.628354       6.224138e+11   34402669.0
        YR1995          27.200513       6.047048e+11   34828168.0
        YR1996          28.563551       6.381250e+11   35246376.0
        YR1997          30.983214       6.898836e+11   35657438.0
        YR1998          30.443321       7.164454e+11   36063451.0

                SP.URB.TOTL.IN.ZS
economy time
ARG     YR1994             87.960
        YR1995             88.164
        YR1996             88.366
        YR1997             88.564
        YR1998             88.759